<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.halalfoodauthorityoss">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HalalFoodAuthorityOSS"
        android:usesCleartextTraffic="true">
        <activity android:name=".productregistration.Product_Details"></activity>
        <activity android:name=".complaint.Complaint_Status" />
        <activity android:name=".loginsignupforgot.Authentication" />
        <activity android:name=".searchresult.User_Rating" />
        <activity android:name=".searchresult.Feedback_Reviews" />
        <activity android:name=".searchresult.SearchResult" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".loginsignupforgot.UpdateProfile" />
        <activity android:name=".complaint.Complaint_Details" />
        <activity android:name=".useractivity.Business_License_Details" />
        <activity android:name=".complaint.MyComplaints" />
        <activity android:name=".productregistration.MyProducts" />
        <activity android:name=".useractivity.MyBusinesses" />
        <activity android:name=".complaint.Complaint" />
        <activity android:name=".productregistration.ProductRegistration" />
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".businesslicense.Bussiness_Details" />
        <activity android:name=".businesslicense.Profile_Images" />
        <activity android:name=".businesslicense.Personal_Detail" />
        <activity android:name=".CoreActivity" />
        <activity android:name=".loginsignupforgot.Forgot_Passoword" />
        <activity android:name=".loginsignupforgot.Sign_Up" />
        <activity android:name=".loginsignupforgot.Login" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>